<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FGPlayerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44F1C6241D44994A00E1CD61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F1C63D1D44994A00E1CD61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44F1C6481D44994A00E1CD61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
